<% if car_slot.status == "unassigned" %>
  <div class="col-md-1 status-<%= car_slot.status %>">
    <%= car_slot.time_label %>
    <p> <%= car_slot.fee_label %> </p>
  </div>
<% else %>
  <button class="col-md-1 status-<%= car_slot.status %>" type="submit">
    <%= car_slot.time_label %>
    <p> <%= car_slot.fee_label %> </p>
  </button>
<% end %>