<div class="container-fluid" id="list-top-drivers">
  <div class="container">
    <center>
      <h1>Start driving with Zephyr</h1>
      <h5>Fill out the drivers application, and Zephyr will reach out to you within 24 hours to get you started</h5>
    </center>

  </div>
</div>
<div class="container-fluid">
  <div class="container" id="drivers-form" role="main" >
    <%= form_for(@driver_application) do |f| %>
    
      <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: "form-control" %>
        <% if f.object.errors.include?(:first_name) %>
          <%= f.label :first_name, f.object.errors.full_messages_for(:first_name).first, class: "error" %>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: "form-control" %>
        <% if f.object.errors.include?(:last_name) %>
          <%= f.label :last_name, f.object.errors.full_messages_for(:last_name).first, class: "error" %>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :facebook_link %>
        <%= f.text_field :facebook_link, class: "form-control" %>
        <% if f.object.errors.include?(:facebook_link) %>
          <%= f.label :facebook_link, f.object.errors.full_messages_for(:facebook_link).first, class: "error" %>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :phone_number %>
        <%= f.telephone_field :phone_number, class: "form-control" %>
        <% if f.object.errors.include?(:phone_number) %>
          <%= f.label :phone_number, f.object.errors.full_messages_for(:phone_number).first, class: "error" %>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
        <% if f.object.errors.include?(:email) %>
          <%= f.label :email, f.object.errors.full_messages_for(:email).first, class: "error" %>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :address %>
        <%= f.text_field :address, class: "form-control" %>
        <% if f.object.errors.include?(:address) %>
          <%= f.label :address, f.object.errors.full_messages_for(:address).first, class: "error" %>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :zip_code %>
        <%= f.text_field :zip_code, class: "form-control" %>
        <% if f.object.errors.include?(:zip_code) %>
          <%= f.label :zip_code, f.object.errors.full_messages_for(:zip_code).first, class: "error" %>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label "What days would you like to drive?" %>
        <%= f.check_box :day_pref_sun %>
        <%= f.label :day_pref_sun, "Sun" %>
        <%= f.check_box :day_pref_mon %>
        <%= f.label :day_pref_mon, "Mon" %>
        <%= f.check_box :day_pref_tue %>
        <%= f.label :day_pref_tue, "Tue" %>
        <%= f.check_box :day_pref_wed %>
        <%= f.label :day_pref_wed, "Wed" %>
        <%= f.check_box :day_pref_thu %>
        <%= f.label :day_pref_thu, "Thu" %>
        <%= f.check_box :day_pref_fri %>
        <%= f.label :day_pref_fri, "Fri" %>
        <%= f.check_box :day_pref_sat %>
        <%= f.label :day_pref_sat, "Sat" %>
      </div>

      <div class="form-group">
        <%= f.label "How would you park at home?" %>
        <%= f.check_box :park_pref_garage %>
        <%= f.label :park_pref_garage, "Garage" %>
        <%= f.check_box :park_pref_driveway %>
        <%= f.label :park_pref_driveway, "Driveway" %>
        <%= f.check_box :park_pref_street %>
        <%= f.label :park_pref_street, "Street" %>
      </div>

      <div class="form-group">
        <%= f.label "Resume" %>
        <%= f.file_field :resume %>
        <% if f.object.errors.include?(:resume) %>
          <%= f.label :resume, f.object.errors.full_messages_for(:resume).first, class: "error" %>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label "Photo of Driver's License" %>
        <%= f.file_field :drivers_license %>
        <% if f.object.errors.include?(:drivers_license) %>
          <%= f.label :drivers_license, f.object.errors.full_messages_for(:drivers_license).first, class: "error" %>
        <% end %>
      </div>

        <%= f.submit "Submit", class: "btn btn-larg btn-primary" %>
    <% end %>
  </div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46837517-1', 'meteor.com');
  ga('send', 'pageview');

</script>
