<div class="container-fluid" id="list-top-drivers">
  <div class="container">
    <center>
      <h1>Start driving with Zephyr</h1>
      <h5>Fill out the drivers application, and Zephyr will reach out to you within 24 hours to get you started</h5>
    </center>

  </div>
</div>
<div class="container-fluid">
  <div class="container" id="drivers-form" role="main" >
    <%= form_for(@driver_application, html: { class: "form-horizontal" } ) do |f| %>

      <div class="form-group">
        <%= f.label :first_name, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.text_field :first_name, class: "form-control" %>
          <% if f.object.errors.include?(:first_name) %>
            <%= f.label :first_name, f.object.errors.full_messages_for(:first_name).first, class: "error" %>
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :last_name, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.text_field :last_name, class: "form-control" %>
          <% if f.object.errors.include?(:last_name) %>
            <%= f.label :last_name, f.object.errors.full_messages_for(:last_name).first, class: "error" %>
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :facebook_link, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.text_field :facebook_link, class: "form-control" %>
          <% if f.object.errors.include?(:facebook_link) %>
            <%= f.label :facebook_link, f.object.errors.full_messages_for(:facebook_link).first, class: "error" %>
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :phone_number, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.telephone_field :phone_number, class: "form-control" %>
          <% if f.object.errors.include?(:phone_number) %>
            <%= f.label :phone_number, f.object.errors.full_messages_for(:phone_number).first, class: "error" %>
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :email, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.email_field :email, class: "form-control" %>
          <% if f.object.errors.include?(:email) %>
            <%= f.label :email, f.object.errors.full_messages_for(:email).first, class: "error" %>
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :address, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.text_field :address, class: "form-control" %>
          <% if f.object.errors.include?(:address) %>
            <%= f.label :address, f.object.errors.full_messages_for(:address).first, class: "error" %>
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :zip_code, class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.text_field :zip_code, class: "form-control" %>
          <% if f.object.errors.include?(:zip_code) %>
            <%= f.label :zip_code, f.object.errors.full_messages_for(:zip_code).first, class: "error" %>
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "What days would you like to drive?", class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.label(:day_pref_sun, class: "checkbox-inline" ) do %>
            <%= f.check_box :day_pref_sun %> Sun
          <% end %>
          <%= f.label(:day_pref_mon, class: "checkbox-inline" ) do %>
            <%= f.check_box :day_pref_mon %> Mon
          <% end %>
          <%= f.label(:day_pref_tue, class: "checkbox-inline" ) do %>
            <%= f.check_box :day_pref_tue %> Tue
          <% end %>
          <%= f.label(:day_pref_wed, class: "checkbox-inline" ) do %>
            <%= f.check_box :day_pref_wed %> Wed
          <% end %>
          <%= f.label(:day_pref_thu, class: "checkbox-inline" ) do %>
            <%= f.check_box :day_pref_thu %> Thu
          <% end %>
          <%= f.label(:day_pref_fri, class: "checkbox-inline" ) do %>
            <%= f.check_box :day_pref_fri %> Fri
          <% end %>
          <%= f.label(:day_pref_sat, class: "checkbox-inline" ) do %>
            <%= f.check_box :day_pref_sat %> Sat
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "How would you park at home?", class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.label(:park_pref_garage, class: "checkbox-inline" ) do %>
            <%= f.check_box :park_pref_garage %> Garage
          <% end %>
          <%= f.label(:park_pref_driveway, class: "checkbox-inline" ) do %>
            <%= f.check_box :park_pref_driveway %> Driveway
          <% end %>
          <%= f.label(:park_pref_street, class: "checkbox-inline" ) do %>
            <%= f.check_box :park_pref_street %> Street
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "Resume", class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.file_field :resume %>
          <% if f.object.errors.include?(:resume) %>
            <%= f.label :resume, f.object.errors.full_messages_for(:resume).first, class: "error" %>
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label "Photo of Driver's License", class: "col-sm-3 control-label" %>
        <div class="col-sm-9">
          <%= f.file_field :drivers_license %>
          <% if f.object.errors.include?(:drivers_license) %>
            <%= f.label :drivers_license, f.object.errors.full_messages_for(:drivers_license).first, class: "error" %>
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <%= f.submit "Submit", class: "btn btn-larg btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46837517-1', 'meteor.com');
  ga('send', 'pageview');

</script>
