<div class="container-fluid lgray-bkg top-fluid">
  <div class="container segment-top">
  	<center>
      <h2><%= current_user.first_name %>'s Profile</h2>
    </center>
  </div>
  <div class="container segment-bottom">
  	<div class="row">
  		<div class="col-md-4 col-md-offset-2">
  			<div class="row driver-info">
  				<div class="col-xs-6">
            <% if current_user.male? %>
  					  <%= link_to image_tag("profile-xy.png", class: "profile-pic"), profile_path %>
            <% else %>
              <%= link_to image_tag("profile-xx.png", class: "profile-pic"), profile_path %>
            <% end %>
  				</div>
  				<div class="col-xs-6">
  					<h3>You: <br /> <span class="flatgreen"><%= current_user.full_name %> </span></h3>
  					<h5>Drives <%= current_user.default_car_schedule.join(", ") %></h5>
  					<h5><%= current_user.phone_number %></h5>
  					<a href="mailto:<%= current_user.email %>"><h5><%= current_user.email %></h5></a>
  				</div>
  			</div>
  			<div class="row driver-info">
          <% if @partner.nil? %>
            <div class="col-xs-6 no-partner">
              <%= image_tag("profile-xy.png", class: "profile-pic") %>
            </div>
            <div class="col-xs-6">
              <h3>No partner</h3>
              <h5>If you'd like to have a partner to take some of your driving days, let us know at <a href="mailto:support@zephyrcar.com" >support@zephyrcar.com</a></h5>
            </div>
          <% else %>
    				<div class="col-xs-6">
    					<% if @partner.male? %>
                <%= link_to image_tag("profile-xy.png", class: "profile-pic"), profile_path %>
              <% else %>
                <%= link_to image_tag("profile-xx.png", class: "profile-pic"), profile_path %>
              <% end %>
    				</div>
    				<div class="col-xs-6">
    					<h3>Partner: <br /> <span class="flatorange"><%= @partner.full_name %></span></h3>
    					<h5>Drives <%= @partner.default_car_schedule.join(", ") %></h5>
    					<h5><%= @partner.phone_number %></h5>
    					<a href="mailto:<%= @partner.email %>"><h5><%= @partner.email %></h5></a>
    				</div>
          <% end %>
  			</div>
  		</div>
  		<div class="col-md-4">
			<ul id="notes">
			  <li>
          <% if @partner.nil? or @partner.partner_note.nil? %>
            <h3>No partner note</h3>
          <% else %>
            <h3><%= @partner.first_name %>'s note:</h3>
            <p><%= @partner.partner_note %></p>
          <% end %>
			 </li>
			</ul>
  		</div>
  	</div>
  </div>
</div>
