<!DOCTYPE html>
<html>
  <head>
	  <title>Zephyr | Set yourself free</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	  <link href='http://fonts.googleapis.com/css?family=Allan:700' rel='stylesheet' type='text/css'>
	  <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans' rel='stylesheet' type='text/css'>
	  <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
	  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %> 
    <%= render 'layouts/shim' %>
	</head>

	<body>
	  <%= render 'layouts/header' %>
      <% flash.each do |key, value| %>
        <% if key == :notice %>
          <div class="alert alert-success ephemeral"><%= value %></div>
        <% else %>
          <div class="alert alert-danger ephemeral"><%= value %></div>
        <% end %>
      <% end %>
	  <%= yield %>
	  <%= render 'layouts/footer' %>
	</body>
</html>
